/* *,
*:before,
*:after {
	box-sizing: border-box;
}

/* .row { */
	/* column width */
	/* column-width: 19em; */
	
  /* space between columns */
  /* column-gap: 1em;
} */

/* .item {
	display: inline-block;
	width: 100%;
} */

.navbar-right { 
  margin-right: 0px;
}

.navbar-brand {
  text-decoration: underline;
}

.navbar {
    font-variant: all-small-caps;
} 